<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group date" id="start-datetime-picker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#start-datetime-picker">
                        <div class="input-group-append" data-target="#start-datetime-picker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group date" id="end-datetime-picker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#end-datetime-picker">
                        <div class="input-group-append" data-target="#end-datetime-picker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <select id="interval-select" class="custom-select">
                        <option value="day">Day</option>
                        <option value="hour" selected>Hour</option>
                        <option value="minute">Minute</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <button id="refresh-btn" class="btn btn-primary">Refresh</button>
                </div>
            </div>
        </div>
        <div class="form-group"></div>
    </div>
    <div class="row">
        <div class="offset-sm-1 col-sm-10">
            <canvas id="airquality-chart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-1 col-sm-10">
            <canvas id="temperature-humidity-chart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-1 col-sm-10">
            <canvas id="eco2-tvoc-chart"></canvas>
        </div>
    </div>
    <script>
    let chart = null;
    let chart2 = null;
    let chart3 = null;
	function getData(start, end, interval) {
	    var xhr = new XMLHttpRequest();
	    xhr.open('GET', `/api/v1/measurements/?start=${start}&end=${end}&interval=${interval}`)
        xhr.onload = function() {
            if (xhr.status === 200) {
	            const data = JSON.parse(xhr.responseText);
                const timestamps = [];
                const pm25_data = [];
                const pm10_data = [];
                const co2_data = [];
                const tvoc_data = [];
                const temp_data = [];
                const humidity_data = [];
                for (const data_point of data) {
                    if (interval == 'day') {
                        timestamps.push(new Date(data_point['datetime']).toLocaleDateString("en-CA"));
                    } else {
                        timestamps.push(new Date(data_point['datetime']).toLocaleString("en-CA"));
                    }
                    pm25_data.push(parseFloat(data_point['pm25']));
                    pm10_data.push(parseFloat(data_point['pm10']));
                    co2_data.push(parseFloat(data_point['co2']));
                    tvoc_data.push(parseFloat(data_point['tvoc']));
                    temp_data.push(parseFloat(data_point['temperature']));
                    humidity_data.push(parseFloat(data_point['humidity']));
                }
                // Air Quality Chart
                const ctx = document.getElementById('airquality-chart').getContext('2d');
                if (chart !== null) {
                    chart.destroy();
                }
                chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: timestamps,
                        datasets: [{
                            label: 'PM 2.5',
                            backgroundColor: 'rgb(99, 255, 132)',
                            borderColor: 'rgb(69, 225, 102)',
                            data: pm25_data
                        },{
                            label: 'PM 10',
                            backgroundColor: 'rgb(132, 99, 255)',
                            borderColor: 'rgb(102, 69, 225)',
                            data: pm10_data
                        }]
                    },
                    options: {}
                });
                // Temperature/Humidity Chart
                const ctx2 = document.getElementById('temperature-humidity-chart').getContext('2d');
                if (chart2 !== null) {
                    chart2.destroy();
                }
                chart2 = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: timestamps,
                        datasets: [{
                            label: 'Temperature',
                            yAxisID: 'T',
                            borderColor: 'rgb(244, 67, 54)',
                            data: temp_data
                        },{
                            label: 'Humidity',
                            yAxisID: 'H',
                            borderColor: 'rgb(33, 150, 243)',
                            data: humidity_data
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                id: 'T',
                                type: 'linear',
                                position: 'left',
                                ticks: {
                                    max: 40,
                                    min: 10
                                }
                            }, {
                                id: 'H',
                                type: 'linear',
                                position: 'right',
                                ticks: {
                                    max: 100,
                                    min: 0,
                                }
                            }]
                        }
                    }
                });
                // CO2/TVOC Chart
                const ctx3 = document.getElementById('eco2-tvoc-chart').getContext('2d');
                if (chart3 !== null) {
                    chart3.destroy();
                }
                chart3 = new Chart(ctx3, {
                    type: 'line',
                    data: {
                        labels: timestamps,
                        datasets: [{
                            label: 'eCO2',
                            yAxisID: 'C',
                            borderColor: 'rgb(255, 87, 34)',
                            data: co2_data
                        },{
                            label: 'TVOC',
                            yAxisID: 'T',
                            borderColor: 'rgb(0, 150, 136)',
                            data: tvoc_data
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                id: 'C',
                                type: 'linear',
                                position: 'left',
                            }, {
                                id: 'T',
                                type: 'linear',
                                position: 'right',
                            }]
                        }
                    }
                });
            } else {
                alert('Failed to retrieve data.')
            }
        }
        xhr.send()
	}
    $('#refresh-btn').click(function () {
        getData(
            $('#start-datetime-picker').datetimepicker('date').toISOString(),
            $('#end-datetime-picker').datetimepicker('date').toISOString(),
            $('#interval-select').val());
    });
    $(function () {
        $('#start-datetime-picker').datetimepicker({
            defaultDate: moment().add(-1, 'days'),
            sideBySide: true
        });
        $('#end-datetime-picker').datetimepicker({
            defaultDate: moment(),
            sideBySide: true
        });
        getData(
            $('#start-datetime-picker').datetimepicker('date').toISOString(),
            $('#end-datetime-picker').datetimepicker('date').toISOString(),
            $('#interval-select').val());
    });
    </script>
</body>
</html>
